<div class="login-container bg-light">
  <div class="login-box">
    <h1 translate>APP_NAME</h1>
    <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3">
        <app-language-selector></app-language-selector>
      </div>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>

          <div id="g_id_onload"
            data-client_id="1098659875935-9k4ocn9j1jfg78k25ef2pb01jmj44uf3.apps.googleusercontent.com"
            data-context="signin" data-ux_mode="popup" data-auto_prompt="false">
          </div>

          <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
            data-size="large" data-logo_alignment="left">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>