<div class="container-fluid">
  <div class="jumbotron">
    <h1>
      <span translate>{{ campaign?.name }} </span>campaign
      <span *ngIf="isDm">(DM)</span>
    </h1>
    <p>
      {{ campaign | json }}
    </p>
    <code>
      TODO: Active encounter, and possibly some pinned messages by DM. Need to model those.

    </code><br />
    <code>
      TODO2: DM should see a different screen by accessing it differently
    </code>

    <h5 class="mt-4">Players in campaign</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>AC</th>
          <th>HP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let char of characters">
          <td>{{ char.name }}</td>
          <td>{{ char.clas }}</td>
          <td>{{ char.ac }}</td>
          <td>{{ char.hpCurrent }} / {{ char.hpMax }}</td>
        </tr>
      </tbody>
    </table>

    <h5 class="mt-4">Encounters</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>AC</th>
          <th>HP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let char of characters">
          <td>{{ char.name }}</td>
          <td>{{ char.clas }}</td>
          <td>{{ char.ac }}</td>
          <td>{{ char.hpCurrent }} / {{ char.hpMax }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>